{% extends 'layout\index.html' %} {% block content %}

<div class="container my-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header text-center ">
                    <h4 class="">Update Car</h4>
                </div>
                <small class="text-danger text-center">
                    {{form.errors|capfirst}}
                  </small>
                <form method="POST" class="card-body" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3 mt-3">
                        {{form.title}}
                    </div>
                    <div class="input-group mb-3">
                        {{form.contact_no}}
                    </div>


                    <div class="form-group mb-4">
                        <label for="model" class="mb-1"><small class='nice-blue  sm-font'>Model & Makes</small></label> {{form.makes_and_model}}

                    </div>


                    <div class="input-group mb-4 d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <div class="form-group ">
                                    <label for="model" class="mb-1"><small class='nice-blue  sm-font'>Condition</small></label> {{form.condition}}

                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group ">
                                    <label for="model" class="mb-1"><small class='nice-blue  sm-font'>Transmission</small></label> {{form.transmission}}

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="input-group mb-4 d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <div class="form-group ">
                                    <label for="model" class="mb-1"><small class='nice-blue  sm-font'>Fuel</small></label> {{form.fuel}}

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group ">
                                    <label for="model" class="mb-1"><small class='nice-blue  sm-font'>Steering</small></label> {{form.steering}}

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="input-group d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <div class="input-group ">


                                    {{form.price}}

                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group ">
                                    <div class="input-group mb-4">


                                        {{form.mileage}}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="input-group d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <div class="input-group ">

                                    {{form.color}}


                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group ">
                                    <div class="input-group mb-2">

                                        {{form.interior_color}}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="input-group d-flex flex-column mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="form-group ">
                                    <label for="model"><small class='nice-blue  sm-font'>Region</small></label> {{form.region}}

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group ">
                                    <label for="model"><small class='nice-blue  sm-font'>Year</small></label> {{form.year_manufactured}}

                                </div>
                            </div>


                        </div>
                    </div>





                    <div class="input-group mb-3">
                        {{form.accessories}}

                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text text-secondary chk-box" id="basic-addon1 ">Image</span> {{form.main_image}}

                    </div>



                    <div class="input-group mb-3">
                        {{form.description}}

                    </div>

                    <div class="input-group mb-3">
                        {{form.location}}

                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <div class="form-check form-check-inline">
                            {{form.registered}}

                            <label class="form-check-label nice-blue" for="inlineCheckbox1">Registered</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {{form.duty_paid}}

                            <label class="form-check-label  nice-blue" for="inlineCheckbox2">Duty Paid</label>
                        </div>
                    </div>
                    {{form.user}}
                    <button type="submit" class="btn btn-sm navbar-bgc text-white w-100 ">Update Car</button>

                </form>
            </div>
            <div class="btn btn-sm navbar-bgc1 mt-3 text-white">
                <a class="text-white link" href="{% url 'detail-car' car.slug car.id %}">
                    Back To Car
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}