{% extends 'layout/index.html'%} {% load static %} {% block content %}



<div class="mb-5 jumbotron jumbotron-fluid d-flex accessories">
    <div class="overlay"></div>

    <div class="container my-auto">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4 main-jumb text-white text-bold">One Stop Shop For All Spares & Lubricants</h1>
                <p class="lead text-white">The Best Of The Very Best</p>
                <p class="lead text-white">Nationwide Delivery Available</p>
            </div>
            <div class="col-md-8 text-center">
                <<form action={% url 'search-accessories' %} method='GET' class="d-flex justify-content-center search input-group  w-100 mx-1">

                    <input class="form-control form-control-sm " type="search" name="q" placeholder="Search Spares & Lubricants" aria-label="Search Cars" style="border-radius:0px" value={{query}}>
                    <button style="border-radius:0px" class="btn   navbar-bgc2 text-white search" type="submit"><i class="bi bi-search" ></i></button>
                    <br>

                    </form>
            </div>
        </div>
    </div>
</div>
<h4 class="my-3 text-center nice-blue">({{count}}) Result(s) For "{{query}}" Found </h4>

<div class="container mb-5 ">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-5 g-2 g-sm-2 g-md-3 g-lg-4">
        {% for accessory in accessory %}
        <a class="link" href="{% url 'detail-accessory'  accessory.id accessory.slug %}">
            <div class="col">
                <div class="card h-100 crd">
                    <img src={{accessory.main_image.url}} class="card-img-top image-fluid card-image" alt={ {accessory.name}}>
                    <div class="card-body p-2">
                        <h6 class="card-title">{{accessory.name|capfirst|truncatechars:29}}</h6>
                        <small class="card-text small nice-blue">{{accessory.description|capfirst|truncatechars:50}}</small>
                        <small class="d-block small nice-blue">Posted: {{accessory.created| date:'D M Y'}}</small>
                        <small class="d-block small nice-blue">Price: &#8373;{{accessory.price}}</small>

                        <small class="d-block small nice-blue">Contact: {{accessory.contact_no}}</small>

                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
<div class="paginations">
    {% if is_paginated %} {% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center flex-wrap">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}"> Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">First</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% endif %} {% for i in page_obj.paginator.page_range %} {% if i == page_obj.number %}
            <li class="page-item active">
                <span class="page-link">{{ i }} 
        </li>










        {%elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3"%}
         <li class="page-item">
            <a class="page-link" href="?q={{ query }}&page={{ i }}">{{ i }}</a>
            </li>

           
            {%elif i == page_obj.number|add:"-3" or i == page_obj.number|add:"3"%}
            <li class="page-item disabled">
                <span class="page-link">...</span>

            </li>


























            {% endif %} {% endfor %} {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Next </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}"> Last</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next </span>
            </li>
            <li class="page-item disabled">
                <span class="page-link"> Last</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %} {% endif %}
</div>


{% endblock %}